<div class="centered">
    <h2>Submit your information </h2>
            <div>
                <input id="eingabe1" [(ngModel)]= name type="text" placeholder="Name" /> 
                <br><br>    
                <input id="eingabe2" [(ngModel)]= text type="text" placeholder="Department" /> 
                <br><br>
                <input id="eingabe3" [(ngModel)]= department type="text" placeholder="Text" />
                <br><br>
                <input type="submit" (click)="postData()">
            </div>              
</div>